{% extends 'base.html' %}

{% block content %}
<p>нормализация массы тела (коррекция абдоминального ожирения):
окружность талии < 94 см у мужчин и 80 см у женщин;
ИМТ (масса тела/рост2):
20-22 – идеальный вес
20-25 – нормальный вес
25-29 – избыточный вес
30-34 – ожирение 1 ст.
35-39 – ожирение 2 ст.
более 40 – ожирение 3 ст.
Формула здорового сердца – присоединяйтесь!
0 – не курить
3 – ежедневно ходить пешком 3 км или заниматься 40 минут умеренной (при ЧСС=160-возраст) физической нагрузкой
5 – 5 порций овощей и фруктов
120 – целевой уровень систолического АД
4 – общий холестерин
2 – ХС ЛПНП
0 – нет избыточной массы тела и сахарного диабета (или уровень гликозилированного гемоглобина менее 5,7). 

</p>
{% endblock %}
