{% extends 'base.html' %}

{% block content %}
<p>
  Профилактика сердечно-сосудистых заболеваний.

отказ от курения;
изменение рациона питания (прочитайте книгу - Майкл Грегер «Не сдохни!»);
исключить легкоусваеваемые углеводы - сахар, конфеты, шоколад, выпечка (все, что содержит муку, в т.ч. черный хлеб), мороженое и др.,
ограничение потребления поваренной соли (до 3 г/сут – не солить пищу);
увеличить потребление следующих продуктов: овощей и фруктов, продуктов из цельного зерна (каши), рыбы, бобовых (фасоль, горох, чечевица);
жирная морская рыба (макрель, сельдь, форель, палтус (несоленые!)) как минимум 2 раза в неделю обладают особенно выраженными защитными свойствами;
чаще используйте растительное масло;
благоприятное влияние на уровень холестерина оказывают лук и чеснок;
следует резко ограничить употребление продуктов, содержащих мясо теплокровных животных (не чаще 1 раза в месяц): все мясные блюда, наваристые и жирные супы, утка, гусь, обычные колбасы, кожа птиц, ливер, паштеты;
предпочтительные способы приготовления – отваривание, тушение, запекание;
увеличить потребление продуктов с высоким содержанием калия, магния – изюм, курага, морковь, петрушка, укроп, отруби, морская капуста, цитрусовые;
готовьте порции меньшего размера;
добавляйте в любимые блюда растительные заменители мяса, молока;
употребляйте в пищу целые овощи и фрукты вместо соков;
ешьте свежие, замороженные или консервированные овощи и фрукты без калорийных соусов и добавления соли или сахара.
поведенческие рекомендации:
стакан теплой воды без газа за 30 минут до еды уменьшит аппетит
пользоваться маленькими тарелками
есть медленно, хорошо пережевывать пищу
не есть за компанию, если не голоден, и не доедать до конца, если не голоден
готовьте в духовке или на пару
отправляясь в магазин за продуктами, заранее составить точный список и строго придерживаться его
не делать больших запасов еды

достижение стойкой компенсации сахарного диабета:
глюкоза крови натощак <6,0 ммоль/л
гликозилированный гемоглобин до 6,5%;
регулярно посещайте врача для оценки сердечно-сосудистого риска, лечения имеющихся сердечных заболеваний и снижения риска сердечного приступа и внезапной смерти.
Формула здорового сердца – присоединяйтесь!
0 – не курить
3 – ежедневно ходить пешком 3 км или заниматься 40 минут умеренной (при ЧСС=160-возраст) физической нагрузкой
5 – 5 порций овощей и фруктов
120 – целевой уровень систолического АД
4 – общий холестерин
2 – ХС ЛПНП
0 – нет избыточной массы тела и сахарного диабета (или уровень гликозилированного гемоглобина менее 5,7).

</p>
{% endblock %}
