{% extends 'base.html' %}

{% block content %}
<p>
увеличение физической активности (динамические нагрузки – плавание, ходьба);
физическая нагрузка должна приносить приятные эмоции и ощущения;
45 - 60 мин ежедневно при ЧСС = 160-возраст;

0 – не курить
3 – ежедневно ходить пешком 3 км или заниматься 40 минут умеренной (при ЧСС=160-возраст) физической нагрузкой
5 – 5 порций овощей и фруктов
120 – целевой уровень систолического АД
4 – общий холестерин
2 – ХС ЛПНП
0 – нет избыточной массы тела и сахарного диабета (или уровень гликозилированного гемоглобина менее 5,7).

</p>
{% endblock %}
